<div class="coupon">
	<div class="coupon-holder">
		<div class="coupon-text">
			<p>FEATURED DEAL <br /><br /> <%= @featured_product.name %> <br /><br /> Choose From... Flow, Golden Goat, Maui Blue, White Widow + More</p>
		</div>
		<div class="coupon-img">
			<div class="img-holder"><a href="/products/<%= @featured_product.permalink %>"><img src="images/img1.jpg" alt="image description" width="340" height="300" /></a></div>
		</div>
	</div>
	<div class="row">
		<a href="/products/<%= @featured_product.permalink %>" class="btn-buy-now">buy now</a>
		<div class="arrow">
			<span class="discount">save<br/>35%</span>
			<span class="bought"><%= @featured_product.on_hand %> left</span>
			<span class="time">15 days remaining</span>
		</div>
	</div>
</div>
<div class="socials">
	<ul>
		<!--<li><a href="#" class="mail">mail</a></li>-->
		<li><a href="http://twitter.com/letsbebuds" class="twitter">twitter</a></li>
		<li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fletsbebuds.com&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></li>
		<!--<li><a href="http://www.facebook.com/pages/Lets-Be-Buds/167856976566409" class="facebook">facebook</a></li>-->
	</ul>
</div>
<div class="main-content">
	<div id="content">
		<div class="heading about">
			<h2>about the deal</h2>
		</div>
		<div class="content-text">
			<p>* $<%= @featured_product.price.to_i %> for coupon redeemable at</p>
			<br />
			<p>Preferred Organic Therapy</p>
			<div class="address">
				<address>
					<%= @featured_product.customer.address %>
					<br/>
					<%= @featured_product.customer.city %>, <%= @featured_product.customer.state %> <%= @featured_product.customer.zip_code %> (<a href='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1569+S.+Colorado+Blvd.+Denver,+Co+80222&sll=39.692511,-105.129&sspn=0.671015,1.454315&ie=UTF8&hq=&hnear=1569+S+Colorado+Blvd,+Denver,+Colorado+80222&z=16'>map</a>)
				</address>
				<p><a href="http://<%= @featured_product.customer.url %>"><%= @featured_product.customer.url %></a></p>
			</div>
			<ul class="list">
				<li>* Redeemable for any Preferred Organic Therapy strain -> <a href='http://preferredorganictherapy.com/denver-colorado-highest-quality-strains-menu-top-shelf-ounce-weed-specials-kush-sour-diesel-skunk-colorado-cough-mango-kind-ediables-best-earwax-bubble-hash-honey-oil-keef-pre-roll-keef-cola.html'>see selection</a></li>
				<li>* Limit 1 per customer</li>
				<li>* Offer for coupon only -> Let's Be Buds does not sell medical marijuana</li>
			</ul>
		</div>
		<!-- 
		<div class="heading phone">
			<h2>deals to your phone</h2>
		</div>
		<div class="content-text">
			<form action="#" class="form-phone">
				<fieldset>
					<div class="row">
						<input type="text" title="Phone number" value="Phone number" class="text" />
					</div>
					<div class="row">
						<input type="text" title="Carrier" value="Carrier" class="text" />
					</div>
					<div class="btn-row">
						<input type="submit" value="" class="btn" />
					</div>
				</fieldset>
			</form>
		</div>
		-->
	</div>
	<div id="sidebar">
		<div class="heading other">
			<h2>other deals and coupons</h2>
		</div>
		<div class="sidebar-text">
			<ul class="list-other">
				<li>
					<div class="info">
						<strong>30%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3><a href="/products/<%= @sub1_product.permalink %>">1/8th oz.</a></h3>
						<p><%= truncate(@sub1_product.description, :length => 60) %></p>
					</div>
				</li>
				<li>
					<div class="info">
						<strong>30%</strong>
						<span>OFF</span>
					</div>
					<div class="text">
						<h3><a href="/products/<%= @sub2_product.permalink %>">1/8th oz.</a></h3>
						<p><%= truncate(@sub2_product.description, :length => 60) %></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
