<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :redemption_code %><br />
    <%= f.text_field :redemption_code %>
  </div>
  <div class="field">
    <%= f.label :redeemed %><br />
    <%= f.check_box :redeemed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
